body{
    height: 100%;
 
}
.Head{
    border-style:solid;
    width: 100%;
    height: 150px;
    background-color:rgba(27, 24, 24, 0.849);
    border-bottom-width: 4px;
    border-bottom-color: rgb(55, 150, 1);
    border-left: hidden;
    border-right: hidden;
    border-top: hidden;
    
}
.flex{
    display: flex;
    margin-top: 37px;
    margin-left: 500px;
  }
.flexborder{
    border-style: hidden;
    width: 160px;
    height: 30px;
    border-radius: 9px 9px 0px 0px;
    background-color: grey;
    text-align: center;

}
#border:hover{
    background-color: darkgreen;
} 
.footer {
    border-style:solid;
    width: 100%;
    height: 100px;
    background-color:rgba(27, 24, 24, 0.849);
    text-align: center;
    border-top-width: 4px;
    border-top-color: rgb(55, 150, 1);
    border-left: hidden;
    border-right: hidden;
    border-bottom: hidden;  
  } 

.body{
    border-style: hidden;
    width: 600px;
    height: 2000px;
    background-color: white;
    position: relative;
    bottom: 1218px;
}  
.mtavari{
    border-style: solid;
    border-color: lightslategray;
    width: 250px;
    height: 300px;
    border-radius: 30px 30px 30px 30px;
    position: relative;
    left: 650px;
    top: 20px;

}
.siaxleebi{
    border-style: solid;
    border-color: lightslategray;
    width: 250px;
    height: 600px;
    border-radius: 30px 30px 30px 30px;
    position: relative;
    left: 650px;
    top: 40px;
}
.dzebna{
    border-style: solid;
    border-color: lightslategray;
    width: 250px;
    height: 300px;
    border-radius: 30px 30px 30px 30px;
    position: relative; 
    left: 650px;
    top: 60px;
}
.bord{
    border-style: hidden;
    height: 2100px;
    width: 900px;
    margin: auto;
    background-color: white;
}